# https://phpstan.org/config-reference

parameters:
	level: 8
	tmpDir: .build/phpstan-cache
	paths:
#		- examples
		- src
#		- tests

	treatPhpDocTypesAsCertain: false

	excludePaths:
		- src/HTTPFactory.php

includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
